{% extends 'user_port/main.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
    {% block page-title %}  {% trans 'Login - Port of Baku' %} {% endblock page-title %}


{% block content %}

<!-- ====================================================
================= CONTENT ===============================
===================================================== -->
<section class="nav-section">
        <div class="container">
            <div class="nav-content-side overview-box">
                <ol class="breadcrumb over-breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="active">{% trans 'Login' %}</li>
                </ol>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">

                        <h2 class="sign-title">{% trans 'Login' %}</h2>

                        <form class="section" method="post">{% csrf_token %}

                            {% if form.non_field_errors %} <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div> {% endif %}
                            {% for field in form.visible_fields %}
                                <div class="form-group{% if field.errors %} has-error{% endif %}">
                                        {% if field.errors %} <div class="alert alert-danger" role="alert">{{ field.errors.as_text }}</div> {% endif %}
                                        <label class="font-pg"{% if field.errors %}
                                               data-toggle="tooltip" title="{% for error in field.errors %}{{ error.as_text|escape }}{% endfor %}"{% endif %}
                                               for="{{ field.id_for_label }}"></label>
                                        {{ field|add_class:'form-control underline-input' }}
                                        {{ field.placeholder }}
                                        {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn blue-styled-btn">{% trans 'Login' %}</button>
                        </form>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.nav-content-side -->
        </div>
        <!-- /.container -->
    </section>
{% endblock content %}