{% extends 'user_port/main.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
    {% block page-title %}  {% trans 'Password Reset Done - Port of Baku' %} {% endblock page-title %}


{% block content %}


<div class="page page-core page-login">

    <div class="text-center">{% trans 'Port of Baku' %}</div>

    <div class="container w-420 p-15 bg-white mt-40">

        <p class="text-light text-greensea">{% trans 'You should soon receive an email allowing you to reset your password. Please make sure to check your spam and trash if you can't find the email.' %}</p>
        <p class="text-light mt-10">{% trans 'Please' %} <a href="{% url 'accounts:login' %}">{% trans 'login' %}</a></p>

    </div>

</div>


{% endblock content %}